* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-align: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  min-height: 100vh;
  background: rgb(248, 253, 252);
  display: flex;
  flex-direction: column;
  flex-wrap: wrap; /* responsive */
  background: rgb(248, 245, 245);
}

h2 {
  margin: 6px auto;
  color: #f7f5f9;
}
.filter-container {
  text-align: center;
  padding-bottom: 20px;
}
input {
  margin: 20px auto;
  display: block;
  font-size: 1.4rem;
  text-align: center;
  transition: 0.2s;
}
input:focus {
  border-radius: 30px;
  background: rgb(238, 238, 238);
}
.range-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
input[type="range"] {
  width: 250px;
  margin: 0 10px 10px 0;
}
.range-container span {
  font-size: 1.2rem;
  transform: translateY(-3px);
}


/* Affichage des Pays */
.countries-container {
  flex: 1 0 25%;
  min-width: 280px;
  /* border: 1px solid #16d9e7; */
  background: rgb(6, 5, 5);
  margin: 10px;
  border-radius: 5px;
  padding: 10px 20px;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.084);
}
